%h2 詳細情報の入力
= form_for(@user_detail) do |f|
  = render "devise/shared/error_messages", resource: @user_detail
  .field
    = f.label :"性別"
    %br/
    = f.select :gender, [["男性",0], ["女性",1]],prompt: "選択してください", class: "" 
    -# %label
    -#   = f.radio_button :gender, "1",class: "" 
  .field
    = f.label :"所在地"
    %br/
    = f.fields_for :prefecture do |d|
      = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: "✔︎ 選択してください"}, {class: ""}
  .field
    = f.label :"誕生日"
    %br/
    = f.date_select :birth_date, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)
  .actions
    = f.submit "sign up"
= render "devise/shared/links"