.header
  .header_top
    .header_top__logo
      nagai_video
    .search_area
      %form
        .form_area
          %input.form_area__text{type: "text", placeholder: "動画を検索"}
          %label.form_area__btn
            = icon('fas', 'search')
            %input.form_area__btn--display{type: "submit", value: ""}
  .categorys
    =link_to "#", class:"categorys__category" do
      TOP
    =link_to "#", class:"categorys__category" do
      エンターテイメント
    =link_to "#", class:"categorys__category" do
      ラジオ
    =link_to "#", class:"categorys__category" do
      音楽
.main
  .block
    .title_area 
      .title_area__text
        ランキング
      = link_to "#", class: "title_area__link" do
        もっと見る
    .movies
      =link_to "#", class:"movie" do
        .movie__thumbnail
        .movie__title
          タイトル  
      =link_to "#", class:"movie" do
        .movie__thumbnail
        .movie__title
          タイトル    
      =link_to "#", class:"movie" do
        .movie__thumbnail
        .movie__title
          タイトル  
      =link_to "#", class:"movie" do
        .movie__thumbnail
        .movie__title
          タイトル  
      =link_to "#", class:"movie" do
        .movie__thumbnail
        .movie__title
          タイトル  
  .block
    .title_area 
      .title_area__text
        視聴履歴
      = link_to "#", class: "title_area__link" do
        もっと見る
    .movies
      =link_to "#", class:"movie" do
        .movie__thumbnail
        .movie__title
          タイトル  
      =link_to "#", class:"movie" do
        .movie__thumbnail
        .movie__title
          タイトル    
      =link_to "#", class:"movie" do
        .movie__thumbnail
        .movie__title
          タイトル  
      =link_to "#", class:"movie" do
        .movie__thumbnail
        .movie__title
          タイトル  
      =link_to "#", class:"movie" do
        .movie__thumbnail
        .movie__title
          タイトル  
  .block
    .title_area 
      .title_area__text
        新着動画
      = link_to "#", class: "title_area__link" do
        もっと見る
    .movies
      =link_to "#", class:"movie" do
        .movie__thumbnail
        .movie__title
          タイトル  
      =link_to "#", class:"movie" do
        .movie__thumbnail
        .movie__title
          タイトル    
      =link_to "#", class:"movie" do
        .movie__thumbnail
        .movie__title
          タイトル  
      =link_to "#", class:"movie" do
        .movie__thumbnail
        .movie__title
          タイトル  
      =link_to "#", class:"movie" do
        .movie__thumbnail
        .movie__title
          タイトル  
.footer 
  .footer_area
    .footer_area__logo
      nagai_video
    .footer_right
      = link_to "#", class: "footer_right__link" do
        ご意見・ご要望
      = link_to "#", class: "footer_right__link" do
        不具合報告
      = link_to "#", class: "footer_right__link" do
        ヘルプ
      = link_to "#", class: "footer_right__link" do
        動作環境
      = link_to "#", class: "footer_right__link" do
        利用規約
      = link_to "#", class: "footer_right__link" do
        運営会社
      = link_to "#", class: "footer_right__link" do
        権利侵害に関する動画投稿ガイドライン
      = link_to "#", class: "footer_right__link" do
        動画に使用できる音源の検索
      = link_to "#", class: "footer_right__link" do
        フィッシング詐欺にご注意ください
      = link_to "#", class: "footer_right__link" do
        広告出稿に関するお問い合わせ

