.show_main
  .show_header
    .show_header__title
      = @video.title
    .mini_search_area
      = form_with(url: search_videos_path, local: true, method: :get) do |f|
        .form_area
          = f.text_field :keyword, class: "form_area__text", placeholder: "動画を検索"
          %label.form_area__btn
            = icon('fas', 'search')
            = f.submit "", class: "form_area__btn--display"
  .explain
    = @video.explain
    .text_turnback
      動画説明文を閉じる
  .information_lists
    .user_information.information_list
      .user_information__image
        - if @user.user_detail.image_url
          =image_tag(@user.user_detail.image_url, class: "user_information__image")
        - else
          =icon('fas','user', class: "image_form__image--icon")
      .user_information__name
        = @video.user.nickname
      .user_information__follow
        = icon('far', 'star', class: "user_information__follow--icon")
        = link_to "#" do
          フォロー
    .information_list
      .information_list__title
        投稿日時
      .information_list__text
        = @video.created_at.strftime("%Y/%m/%d %H:%M")
    .information_list
      .information_list__title
        再生数
      .information_list__text
        = @video.impressionist_count
    .information_list
      .information_list__title
        コメント数
      .information_list__text
        = @video.comments.length
    .information_list
      .information_list__title
        マイリスト数
      .information_list__text
        = @video.mylists.length
    .information_list
      .information_list__title
        ジャンル
      .information_list__text
        = @video.genre.name
  .tags_area
    .tag_edit
      タグ編集
    .tags_lists
      - @video.tag_list.each do |tag|
        = link_to tag_videos_path(tag_name: tag), class:"tags_lists__tag" do
          = tag
  .main_contents
    .left_contents
      .video_player
        =video_tag(@video.movie_url, autoplay: true, preload: true, controls: true, class: "video_player__contents")
      = form_for @comment, url: video_comments_path(@video.id), html: { class: "comment_create"} do |f|
        = f.text_field :text, class: "comment_create__form", placeholder: "コメント"
        = f.submit "コメントする", class: "comment_create__btn"
    .right_contents
      .register_area
        .left_box
          - if user_signed_in? 
            = link_to "#", class: "left_box__icon" do
              = icon('fas','folder-plus')
        .right_box
          = link_to "#", class: "right_box__icon" do
            = icon('fab','twitter-square', class: "right_box__icon--twitter")
          = link_to "#", class: "right_box__icon" do
            = icon('fab','facebook-square', class: "right_box__icon--facebook")
          = link_to "#", class: "right_box__icon" do
            = icon('fab','line', class: "right_box__icon--line")
          = link_to "#", class: "right_box__icon" do
            = icon('fas','share-alt-square', class: "right_box__icon--share")
      .right_main_contents
        .relation_movies
          .movie_area
            =link_to "#", class:"movie_thumbnail" do
              サムネイル
            .movie_information
              .movie_information__created_at
                2015/5/17 6:00 投稿
              .movie_information__name
                MHD モンハンどうでしょうR
              .detail_information
                .detail_information__views_number
                  ▶︎ 3.5万
                .detail_information__comments
                  =icon('fas', 'comment-alt')
                  583
                .detail_information__mylists
                  =icon('fas', 'folder')
                  82
          .movie_area
            =link_to "#", class:"movie_thumbnail" do
              サムネイル
            .movie_information
              .movie_information__created_at
                2015/5/17 6:00 投稿
              .movie_information__name
                MHD モンハンどうでしょうR
              .detail_information
                .detail_information__views_number
                  ▶︎ 3.5万
                .detail_information__comments
                  =icon('fas', 'comment-alt')
                  583
                .detail_information__mylists
                  =icon('fas', 'folder')
                  82
        .mylists_add.display_none
          .mylists_add__header 
            .mylists_add__header--title
              マイリストに登録
            =link_to "#", class: "mylists_add__header--cancel" do
              ✖︎
          - if user_signed_in? 
            %ul.user_mylists            
              - @mylists.each do |mylist|
                %li.user_mylists__mylist
                  = link_to add_video_mylist_path(mylist), method: :post, class:"add_mylist_js" do
                    = mylist.name
            =link_to "#", class: "new_mylist_link" do
              ＋新規登録して作成
          .create_mylist.display_none
            - if user_signed_in? 
              = form_for [@video, @mylist]  do |f|
                .new_title
                  マイリスト
                = f.text_field :name, class: "new_title__form", placeholder:"マイリスト名を入力してください"
                .new_explain
                  マイリストコメント
                = f.text_field :explain, class: "new_explain__form", placeholder: "省略化"
                .mylist_btn
                  =link_to "#", class: "mylist_btn__cancel" do
                    キャンセル
                  = f.submit '登録する', class: "mylist_btn__submit"
  .comments_area
    コメント一覧
    - @comments.each do |comment|
      .comment
        .comment__user_icon
          - if comment.user.user_detail.image_url
            = image_tag(comment.user.user_detail.image_url, class: "comment__user_icon")
        .comment_right
          .comment_right__username
            = comment.user.nickname
          .comment_right__text
            = comment.text